<h1>Welcome to Redditt (Fake/mini-clone) App</h1>
<p>This is a community platform where users can post content and engage in threaded discussions via comments.</p>

<%= link_to "Login / Sign Up", "/login", class: "btn btn-primary" %>